.item {
  margin-bottom: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 292px;
  width: 100%;
  color: #73798c;
}

.title {
  color: #000000;
  margin: 8px 0;
  font-size: 20px;
  line-height: 24px;
}

.ingredients,
.description {
  font-size: 14px;
}

.info {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-flow: column;
}

.figure {
  max-height: 292px;
  cursor: pointer;
  margin: 0;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    pointer-events: none;
  }

  &:hover {
    img {
      transform: translateY(5px);
    }
  }
}

.footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .price {
    font-weight: 700;
    color: #000000;
    font-size: 22px;
  }
}
