.side {
  flex-basis: 45%;
  overflow: hidden;
  padding: 30px 0;
}

.scrollbar {
  height: 475px !important;
}

.info {
  padding: 0 30px;
  flex-basis: 40%;
  height: 472px;
}

.addTitle {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.backgroundCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backgroundCircle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .info {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .scrollbar {
    height: 630px !important;

    // & > div {
    //   overflow: hidden !important;
    // }
  }

  .side {
    flex-basis: initial;
    overflow: initial;
  }

  .info {
    padding: 0 15px;
    flex-basis: initial;
    height: 100%;
  }

  .addToCart {
    margin: 0;
  }
}
