.item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  width: 250px;
  min-height: 50px;
  background: rgba(53, 53, 53, 0.85);
  color: #fff;
  border-radius: 10px;
}

.list {
  position: absolute;
  z-index: 992;
}
